/*===================================================================================*/
/*  Dark Green Color
/*===================================================================================*/
.primary-bg {
  color: #FFF; }

h2, a, a:hover, a:focus, a:active, .primary-color, .le-color, .breadcrumb-nav-holder .current > a, .sidemenu-holder .side-menu .menu-item:hover, .sidemenu-holder .side-menu .menu-item .open, header .top-search-holder .contact-row i, header .top-cart-row .wishlist-compare-holder a:hover, header .top-cart-row .wishlist-compare-holder a:hover i, header .top-cart-row .top-cart-holder .basket-item .price, .le-links li a:hover, .accordion-widget .accordion .accordion-toggle, .accordion-widget .accordion .accordion-toggle:after, #footer .widget .body li a:hover, #footer .link-list-row .link-widget li a:hover, .iconic-link:hover, .iconic-link:hover:before, .le-quantity .minus:hover, .le-quantity .minus:hover:after, .le-quantity .plus:hover, .le-quantity .plus:hover:after, .owl-carousel:hover .owl-prev:hover, .owl-carousel:hover .owl-next:hover, .panel-group-faq .panel-faq .panel-heading .panel-title > a:after, .panel-group-faq .panel-faq .panel-heading .panel-title > a:hover:after, .posts .post .meta > li a:hover, .blog-sidebar .widget .recent-post-list h5 a:hover, .comment-item .comment-body .likes a:hover, .comment-item .comment-body .likes .icon:hover .comment-item .comment-body .likes .dislikes .icon:hover, .comment-item .comment-body .likes .comment-reply:hover, .carousel-holder .title-nav .inverse, .simple-link:hover, .meta-row span a, .comment-item .comment-body .author, .product-item-holder .body .title a:hover, #cart-page .widget .buttons-holder .simple-link:hover, #cart-page .items-holder .close-btn:hover:after, #cart-page .items-holder .cart-item .title a:hover, .top-bar ul > li a:hover, .sidebar .price-range-holder .filter-button a, .sidebar .widget .product-list li a:hover, .sidebar .widget .product-list .price .price-current, .grid-list-products .grid-list-buttons ul li.active a i {
  color: #21b68e; }

.megamenu-horizontal .nav li a:hover, .megamenu-horizontal .nav li a:focus, .nav-tabs li.active a, .nav-tabs li.active a:focus {
  background-color: #21b68e !important; }

.primary-bg, .le-dropdown, .le-button, .social-icons li a:hover, header .search-area .search-button, header .top-search-holder .search-area .search-button, header .top-cart-row .top-cart-holder .basket-item-count .count, .sidemenu-holder .side-menu .head, .slider-selection, #top-megamenu-nav, .single-product-gallery .gallery-thumbs .next-btn:hover, .single-product-gallery .gallery-thumbs .prev-btn:hover, .btn-loadmore:hover i {
  background-color: #21b68e; }

.le-radio:checked + .fake-box:after {
  background-color: #21b68e; }

.le-dropdown.open, .navbar .navbar-toggle {
  background-color: #1da07d; }

.le-button:hover {
  background-color: #23c398; }
.glyphicon {
  color: #21b68e!important;
}
.fa-arrow-circle-right, .fa-arrow-circle-left {
  cursor: pointer;
  color: #21b68e!important;
}
.navbar .navbar-toggle {
  border-color: #198b6c;
  border-radius: 0; }

.carousel-holder .title-nav .nav-holder a:hover, .pagination li:hover, .pagination li.current a {
  color: #21b68e !important;
  border-color: #21b68e; }

.le-checkbox:checked + .fake-box {
  background-color: #21b68e;
  border-color: #21b68e; }

.dropdown .dropdown-menu {
  border-top-color: #21b68e; }

.slider-handle, .pagination li:hover, .pagination li .current a {
  border-color: #21b68e; }

.grid-list-products .grid-list-buttons ul li a:hover i {
  color: #198b6c; }

/*.dropdown{
    .dropdown-menu{
        box-shadow: inset 0px 2px 0px @primary-color, inset 0px 0px 0px 2px darken($second-color,10%) ;

        &:before{
            border-bottom-color: @primary-color;
        }
    }
}*/
#top-megamenu-nav .nav > li {
  border-right-color: #1da07d; }
  #top-megamenu-nav .nav > li > a:hover, #top-megamenu-nav .nav > li > a:focus {
    background-color: #1fad87; }
  #top-megamenu-nav .nav > li.active a, #top-megamenu-nav .nav > li.active a:focus {
    background-color: #1fad87; }
  #top-megamenu-nav .nav > li .dropdown-toggle:focus {
    background-color: #1fad87 !important; }
  #top-megamenu-nav .nav > li .dropdown-toggle:before {
    border-bottom-color: #21b68e; }
  #top-megamenu-nav .nav > li.open .dropdown-toggle {
    background-color: #1fad87; }
#top-megamenu-nav .dropdown {
  border-right-color: #1da07d; }
  #top-megamenu-nav .dropdown:hover .dropdown-toggle, #top-megamenu-nav .dropdown:hover .dropdown-toggle:focus, #top-megamenu-nav .dropdown:focus .dropdown-toggle, #top-megamenu-nav .dropdown:focus .dropdown-toggle:focus, #top-megamenu-nav .dropdown.active .dropdown-toggle, #top-megamenu-nav .dropdown.active .dropdown-toggle:focus {
    background-color: #1fad87; }
  #top-megamenu-nav .dropdown .dropdown-toggle:focus {
    background-color: #1fad87 !important; }
  #top-megamenu-nav .dropdown .dropdown-toggle:before {
    border-bottom-color: #21b68e; }
  #top-megamenu-nav .dropdown.open .dropdown-toggle {
    background-color: #1fad87; }

.nav-tabs li.active a, .nav-tabs li.active a:focus {
  background-color: #21b68e !important; }
.nav-tabs li.active a:hover {
  background-color: #24c79b; }

.single-product-gallery .gallery-thumbs li a.active {
  border-bottom-color: #21b68e; }

@media (max-width: 767px) {
  #top-megamenu-nav .nav {
    border-color: #198b6c !important; }
  #top-megamenu-nav .nav > .dropdown {
    border-color: #198b6c !important; } }

.logo-svg {
  fill: #21b68e; }

.owl-pagination .owl-page.active span, .owl-pagination .owl-page:hover span, .owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
  background: #21b68e; }

.blog-sidebar .le-links > li > a:hover {
  color: #21b68e !important; }

.blog-sidebar .tagcloud a:hover {
  color: #21b68e !important; }

.owl-carousel-blog .owl-pagination .owl-page:hover span, .owl-carousel-blog .owl-pagination .owl-page.active span {
  background: none repeat scroll 0 0 #21b68e; }

.fa-filter{
  color: #21b68e !important;
}

.btn-success {
  background-color: #21b68e!important;
  border-color: #21b68e!important;
}
.btn-success:hover {
  background-color: #23c398!important;
  border-color: #21b68e!important;
 }
.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color:#23c398!important;
    color: #fff;
}
.fa-space-shuttle {
  color:#23c398!important;
}
.el-friendfeed {
  color:#23c398!important;
}
