html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.main-menu {
    padding: 10px;
}

.ribbons:after {
    content: "";
    display: inline-block;
    border-top-width: 28px;
    border-top-style: solid;
    border-left: 0px;
    border-right: 14px solid transparent;
    height: 0;
    min-width: 68px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.card .ribbons {
    position: absolute;
}

.red .ribbon {
    background-color: transparent;
}

.ribbon {
    z-index: 100;
    top: 10px;
    font-size: 11px;
    line-height: 20px;
    padding: 4px 14px;
    font-weight: 700;
}

.card .red {
    color: red !important;
}

.card .blues {
    color: blue !important;
}

.ribbons span {
    position: relative;
    z-index: 100;
    color: #FFFFFF;
    top: 3px;
    left: 11px;
    text-transform: uppercase;
    font-weight: bold;
}

.card-body-custom {
    margin-top: 5px;
    padding-left: 5px;
    border-radius: 7px;
}

.margin-0 {
    margin: 0px;
}

.class-display-block {
    display: block;
}

.card-brand-img {
    width: 80%;
    height: 35px;
}
.icons-link {
    margin-right: 10px;
}
.price-title {
    font-size: 13px;
}
.card-footer {
    /*font-weight:900;*/
    /*text-align: center*/
}

.card-footer-1 {
    margin-right: 10px;
    font-size: 16px;
    color: #999;
    letter-spacing: 0;
    line-height: 24px;
    text-decoration: line-through;
}

.card-footer-2 {
    margin-right: 10px;
    font-size: 20px;
    color: #000;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 2px;
}

.text-red {
    color: red;
}

.text-blue {
    color: cornflowerblue;
}

.pagination-top {
    text-align: center;
}

.card-img-top {
    height: 180px;
}

.parent-sales-link-next, .parent-new-link-next, .parent-sales-link-prev, .parent-new-link-prev {
    font-size: -webkit-xxx-large;
}

.pagination-icons {
    position: relative;
    bottom: 260px;
}

.wrap-main-item {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px
}

.loading:before {
    content: "";
    position: absolute;
    z-index: 100;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: white url(i/loading.gif) no-repeat 49% 10%;
}

.loading {
    position: relative;
}

.panel-default {
    border: none !important;
}

.link-shop {
    border-radius: 16px;
}

.panel-custom {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) !important;
}

.color-hide {
    opacity: 0.4 !important;
    cursor: default !important;
}

.color-hide:hover {
    opacity: 0.4 !important;
}

.page-link {
    font-size: 44px;
    opacity: 0.5;
}

.page-link:hover {
    opacity: 1;
}

.muted {
    color: #666 !important
}

.panel-body {
    background-color: #f6fff9 !important;
    border-color: #ddd !important;
}

.panel-heading {
    background-color: #f6fff9 !important;
    border-color: #ddd !important;
}

.panel {
    border: none;
}

.padding-20 {
    padding: 20px
}

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
}

.s-about-title {
    font-size: 34px;
    color: #2c509a;
}

.s-about-div {
    background: url(i/question_mark_PNG140.png) no-repeat 15px 3px;
    margin: 20px 0 0;
    padding: 5px 0 30px 135px;
    font: normal 14px arial;
    color: #666;
}

.s-about {
    background: #f6fff9;
    margin: 20px 0 40px;
    padding: 30px 90px 20px 45px;
}

.s-width {
    min-width: 990px;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
}

.scrolling {
    max-height: 500px;
    overflow-y: scroll;
}

.partner-logo {
    width: 250px;
    height: 60px;
    margin: 25px
}
.search-btn {
    float: right;
    display: inline-block;
    text-align: center;
    padding: 15px 15px 13px 15px;
    margin: -3px -3px 0 0;
    border-radius: 0 5px 5px 0;
    background-color: #e8fbe7;
}
.default-button {
    padding: 8px 30px 8px 30px;
    border-radius: 7px;
    margin-top: 22px;
    background-color: #21b68e!important;
    border-color: #21b68e!important;
}

.default-button:hover{
    background-color: #208a6d!important;
}
.hover-link:hover{
    background-color: #e1fde8;
    cursor: pointer;
}
.hover-link:hover .btn-href-shop{
   display: block;
}
.btn-href-shop {
    margin-top: 25%;
}
.btn-href-shop {
    display: none;
}
.btn-href-shop:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.submit-form-search {
    position: absolute;
    /*margin: 999px;*/
    left: -999999999px;
}
figure {
    width: 100%;
    float: left;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 2%;
}
.has-tooltip {
    cursor: pointer;
}
.filter-offer {
    padding-top: 15px;
}
.partner-logo-img{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
#scrollUp {
    bottom: 10px;
    background-image: none;
    background-color: initial;
    border: none;
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.2);
}